body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gridContainer{
    display : flex;
    flex-wrap: wrap;
    width : 650px;
    height : 650px;
    justify-content : center;
    align-items : center; 
    border : 3px solid black;
}

.grid{
    box-sizing: border-box;
}

#btn{
    margin : 20px;
}